@{
    ViewBag.Title = "WEB API";
}
<div class="jumbotron">
    <h1>REST WEB API <br /> Yan's CA2 for EAD</h1>
    <p class="lead">This page is the Index View returned by the Home Controller within the REST WEB API </p><br />
    <p>Yan's mini project consists of one SLN called 'CA2', one WEB API project also called 'CA2', one SOAP project called 'SOAPwebservice', and one ASP.NET MVC project called 'AspNetMvc1'</p>
    <p>This REST WEB API project allows you to find out which band is playing for a given concert. You just need to input the concertId. The Controller will then go off and use EF and LINQ to query the DB and return the assoicated band playing at that concert. Try it!</p>
</div>
